.largefont, .largefont p{font-size:16px;}
.psyche-lite-notice-container{width:100%; padding:15px 0 15px 0;}
.psyche-lite-notice-img{float:left; text-align:left; width:13%;}
.psyche-lite-notice-content{float:left; text-align:left; width:85%; padding-top:33px;}
.psyche-lite-notice-heading{font-size:20px; font-weight:600;}
.psyche-lite-clear{clear:both;}