@media screen and (max-width: 767px) {
.head-info-area .left .phntp{position:relative; padding:15px;}	
.phntp.phntp1{border:none;}
.head-info-area .right .phntp{padding: 13px 20px 0px 0;}
.header .container{padding:0px !important;}
.header-content-right{display:flex;}
.skt-header-extras{width:270px; margin:0 auto 15px;}	
.container{width: auto; padding: 15px;}
.skt-header-extras .skt-header-button a{font-size:18px;}
.head-info-area:before{display:none;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
#navigation{padding-bottom:8px;}	
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
.header{position:relative;}	
}

@media screen and (max-width: 1169px) and (min-width: 768px) {
.header{position:relative;}		
.head-info-area .left .phntp{position:relative; padding:15px;}	
.phntp.phntp1{border:none;}
.head-info-area .right .phntp{padding: 13px 20px 0px 0;}
.header .container{padding:0px !important;}
.head-info-area:before{display:none;}
.head-info-area .right{position: relative; width: 50%; text-align:right;}
.head-info-area .left{position: relative; width: 50%; text-align:left;}
.skt-header-extras{width:30%;}
.head-info-area .suptp{padding:13px 20px 13px 0;}	
.skt-header-extras{width: 190px !important;}
.logo{padding:30px 30px 15px 20px !important;}
.skt-header-extras .skt-header-button a{font-size:15px; padding: 26px 0 26px 22px;}
.page_content, body.home .page_content{padding: 40px 0;}
}