/*
Theme Name: Psyche Lite
Theme URI: https://www.sktthemes.org/shop/free-psychologist-wordpress-theme
Author: SKT Themes
Author URI: https://www.sktthemes.org
Description: Psyche Lite is flexible. It is also scalable WordPress theme designed for professionals in mind science, behavioral science, and cognitive psychology. Built with the drag-and-drop Elementor builder, it offers effortless customization for experts in psychotherapy, psychoanalysis, and neuroscience. Its SEO-friendly structure ensures better visibility, making it ideal for showcasing psychological studies, human behavior research, and cognitive science insights. Whether you focus on mental study, psychological analysis, or therapy services, Psyche Lite provides a seamless and professional platform to engage your audience effectively for reiki and healing. Documentation : https://www.sktthemesdemo.net/documentation/vet-clinic-lite-doc/
Template: vet-clinic-lite
Version: 1.2
Tested up to: 6.8
Requires PHP: 5.6
License: GNU General Public License
License URI: https://www.gnu.org/licenses/license-list.html#GPLv2
Text Domain: psyche-lite
Tags: two-columns,right-sidebar,full-width-template,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments,featured-images,footer-widgets,translation-ready,rtl-language-support,custom-logo,editor-style,custom-header,blog,e-commerce,portfolio

Psyche Lite is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

Psyche Lite Lite WordPress Theme has been created by SKT Themes(sktthemes.org), 2025.
Psyche Lite Lite WordPress Theme is released under the terms of GNU GPL
*/

body.wp-custom-logo .site-description{margin:0; padding:0;}
a{color:#996c3e;}
a:hover{color:#b8b8b8; text-decoration:underline;}
#logo-main a:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
a:focus{outline: thin dotted #6f4b27;}
body.home .header, body.blog .header, body.search-results .header{position:relative;}
.header{position:absolute;}
.header .container{background-color:#f0f0f0;}
.header .container:before, .header .container:after{display:none;}
.logo h2:hover{color:#996c3e;}
.head-info-area::before{content: ''; width: 50%; height: 100%; background: #996c3e; position: absolute; right: 0;}
#navigation{width:66%; text-align:left;}
.skt-header-extras{float: right; width: 20%; background-color: #fff; position: relative;}
.skt-header-extras .skt-header-button a{color: #000; display: block; padding: 30px 15px 26px 30px; font-size: 17px; font-weight: 600; line-height: 1.4; text-align: left; min-height:106px;}
.skt-header-extras .skt-header-button a:hover{color:#996c3e;}
.skt-header-extras .skt-header-button img{vertical-align: middle; margin-right: 15px; float: left; margin-top: 5px;}
.header .container{padding:0 0 0 25px !important;}
.logo{padding:30px 30px 15px 0 !important;}
.main-navigation ul li:last-child a{padding-right:24px !important;}
.main-navigation ul li ul li a{color:#996c3e;}
.main-navigation ul ul li a:hover, .main-navigation ul ul li a:focus{ background-color:#996c3e;}
.main-navigation ul ul{background-color:#f0f0f0;}
.head-info-area{width: 100%;  position: relative; background-color:#6f4b27; z-index: 9; overflow: hidden; padding-bottom: 45px; margin-bottom: -45px; font-family: 'Poppins'; font-size: 17px; color: #fff;}
.head-info-area .right{position:relative;}
.head-info-area .right img{display:inline-block; padding:0 5px; position:relative; top:-2px;}
body.home .page_content{padding:40px 0;}
.main-navigation ul li:hover a, .main-navigation ul li a:focus, .main-navigation ul li a:hover, .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a{color:#996c3e;}
.main-navigation ul li a{text-transform:uppercase; font-weight:600; color:#282828; line-height:100px; padding:3px 20px;}
.phntp.phntp1{padding-top: 10px; margin-right: 0px; border-right: solid 1px rgba(255, 255, 255, 0.2);}
.head-info-area .suptp{display: inline-block; padding: 13px 20px 13px 20px;}
.head-info-area .suptp a{color:#FFF;}
.head-info-area .suptp a:hover{color:#e89c50;}
.toggled .menu-toggle span{background:#996c3e;}
.postmeta{color:#6f4b27;}
.postmeta a{color:#996c3e;}
.sticky{border-bottom-color:#6f4b27;}
.blog_lists h4{font-size:28px;}
#sidebar ul li a:hover, .blog_lists h4 a:hover, .recent-post h6 a:hover, .recent-post a:hover, .design-by a, .tagcloud a, .blocksbox:hover h3, .rdmore a, .header-phone-number, #sidebar li a:hover, .main-navigation ul li ul li a, .footer-row .cols-3 ul li a:hover, .footer-row .cols-3 ul li.current_page_item a, .footer-row .cols-3 ul li.current-menu-item a{color:#996c3e;}
.inner-banner-thumb h1{font-family: 'Poppins'; top:50%;}
#sidebar .wp-block-group{padding-top:15px;}
#sidebar ol, #sidebar ul{margin-bottom:0px;}
#sidebar ul li a:hover{color:#996c3e;}
#sidebar ul li{padding:4px 0;}
.wp-block-latest-comments__comment{margin-bottom:0px;}
#footer{background-color: #f7f0e8;}
.footer aside.widget{color:#181818;}
.copyright-wrapper{background-color: rgba(235,227,217, 1);}
.copyright-txt{color: #282828;}
.copyright-txt a{color:#996c3e;}
.copyright-txt a:hover{color: #6f4b27;}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6{color:#282828;}
.footer h1:after, .footer h2:after, .footer h3:after, .footer h4:after, .footer h5:after, .footer h6:after{display:none;}
.footer-row .widget_nav_menu ul{padding-top:0px; font-size:17px; font-weight:400;}
.footer-row .cols-3 ul li a{color:#181818;}
.footer-row .cols-3 ul li a:hover{color:#6f4b27;}